header {
  background-color: orangered;
  color: white;
  text-align: center;
  position: relative;
  height:50px
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}
.name{
   font-size: 20px;
   color: white;
   text-decoration: none;
   position: relative;
   left: 50px;
   font-family: 'popins',serif;
   top: 10px;
}

#toggleMenu {
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  position: relative;
  right:20px
}

#categoryMenu {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  background: white;
  box-shadow: -2px 0 5px rgba(0,0,0,0.2);
  padding: 20px;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
}

#categoryMenu.hidden {
  transform: translateX(100%);
}

#closeMenu {
  background: none;
  border: none;
  font-size: 22px;
  float: right;
  cursor: pointer;
}

#categoryList {
  list-style: none;
  padding: 0;
  margin-top: 40px;
}